* {margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;}
ul, li {list-style-type: none;}
body {
    background-image: url("image/home/background.png");
    background-repeat: repeat;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a {color:black}
a:hover {background: #8bc9c7;
        color:white;}

#logo {width : 100%;
        margin-top: 50px;
        margin-bottom: 40px;
        border: 0;}

#DropboxMenu {width:calc(100%-20px);
                margin-left:10px;
                margin-right:10px;
                z-index:10;
                position:relative;}

#DropboxMenu > li { float: left;
                    width: calc(100%/5);
                    height:50px;
                    }
#DropboxMenu > li > a {display: block;
                        font-size: 25px;
                        text-decoration: none;
                        letter-spacing: 0.05em;
                        color:#5e5463;
                        background-color:#B09CBA;
                        display: block;
                        border-left:1.5px solid#64516E;
                        border-right:1.5px solid #64516E;
                        height:50px;
                        padding-top: 20px;
                    }
#DropboxMenu > li:hover [id^='sub_menu'] {opacity: 1;
                                            visibility: visible;
                                            width:calc(100%/5);
                                            }


[id^='sub_menu']{position:absolute;
                background-color:#C6B3E3;
                opacity: 0;
                visibility: hidden;
                width:calc(100%/5);}
[id^='sub_menu'] > li {padding: 16px 28px;
                        border-bottom: 2px solid #807287;}
[id^='sub_menu'] > li > a {color:#38313B;
                            text-decoration: none;
                            font-size: 20px; }
[id^='sub_menu'] > li:hover {color:#f5ebd7;
                            background-color:#74677A;}



#aside {
    position: fixed;
    list-style: none;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom:200px;
    background-color:#FAF6DE;
    border: 10px solid #B09CBA;
    width:200px;
    text-align: left;
    z-index:5;
}
#aside > h2 { font-size: 30px;
            margin-left: 20px;
            border-bottom: 5px solid orangered;}
#aside > ol {list-style:none;}
#aside > ol > li,h2 {clear:both;
                    float: left;
                    margin-top: 5px;
                    margin-left:10px;
                    font-size: 20px;
                    text-decoration: none;}

.gallery {max-width:1200px;
        top:50px;
        width:100%;
        margin:220px auto 100px;
        padding:120px;
        background-image: url("image/article_bg.png");
        background-size: auto;
}
.gallery > h2 {font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-left: 45%;
    margin-right: auto;
}
.gallery > ul {font-size: 0;
                width:1000px;
                margin-top: 100px;
                margin-bottom : 70px;
                margin-left:100px;
                margin-right:0;
                        }
.gallery > ul > li {display: inline-block;
                    vertical-align:top;
                    width: 33.3%;

}
.gallery > ul > li > a {display: block;
                        width:auto;
                        text-decoration: none;
                        margin: 20px;
}

.gallery > ul > li > a .screen {position:relative;
                                overflow: hidden;
}

.gallery > ul > li > a .screen >img {max-height: 400px;
                                    width:100%;
                                    height: 100%;
}


.gallery > ul > li > a .screen .top{
                                                position:absolute;
                                                bottom:150%;
                                                left:20px;
                                                z-index: 2;
                                                color:white;
                                                font-size: 32px;
                                                font-weight: 800;
                                                transition: all .30s;
}

.gallery > ul > li > a .screen::after {content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5) ;
    z-index: 1;
    opacity: 0;
    transition: all .30s;

}

.gallery > ul > li > a:hover .screen::after {opacity: 1;}


[class^='gallery'] > ul > li > a:hover .top{bottom:30%;}




.article {  margin-top: 150px;
            background-image: url("image/article_bg.png");
            background-size: 100%;
            line-height: 200%;
            font-family: 'Times New Roman';
            width:calc(100%-100px);
            margin-left: 100px;
            margin-right: 100px;
            }
.article > h2 , .gallery> h2 {font-size:45px;
                                font-weight:bold;
                                margin-top:100px;
                                margin-bottom: 70px;
                                margin-right:0px;
                                margin-left:0px;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                width:100%;
                                background-color: thistle;}
.article > h3, h4, p {text-align: left;          
                    margin-left: 200px;
                    margin-right: 200px;}

.article > h3 {font-size:40px;}

.article > h4 {font-size:30px;}

.article > p {font-size:20px;
                margin-bottom :30px;
                font-family: 'Times New Roman';}
.article > p > a {text-decoration :underline;}

img {
    max-width: 500px;
    max-height: 500px;
    margin-left:auto;
    margin-right:auto;
    display: block;}

q {font-size: 18px;}

footer {
    width : 100%;
    height: 200px;
    margin-top: 200px;
    background-color: #9887A1;
}

footer > #footer_logo {
                margin-top: 10px;
                width:100%;
                height:100px;
                display: inline-block;
}
footer > #socialmedia > a {
                padding-top:30px;
                width:100px;
                height:30px;
                display: inline-block;
                align-items: center;

}