* {margin:0; padding:0; }
ul, li {list-style-type: none;}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url(image/home/background.png);
    background-repeat: repeat;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#logo {width : 100%;
        margin-top: 50px;
        margin-bottom: 20px;
        border: 0;}

#DropboxMenu {width:calc(100%-20px);
                margin-left:10px;
                margin-right:10px;}

#DropboxMenu > li { float: left;
                    width: calc(100%/5);
                    height:50px;
                    }
#DropboxMenu > li > a {display: block;
                        font-size: 25px;
                        text-decoration: none;
                        letter-spacing: 0.05em;
                        color:#5e5463;
                        background-color:#B09CBA;
                        display: block;
                        border-left:1.5px solid#64516E;
                        border-right:1.5px solid #64516E;
                        height:50px;
                        padding-top: 20px;
                    }
#DropboxMenu > li:hover [id^='sub_menu'] {opacity: 1;
                                            visibility: visible;
                                            width:calc(100%/5);}
/*#DropboxMenu > li:nth-child(1)>a {border-left: 100px solid blueviolet;}*/

[id^='sub_menu']{position:absolute;
                background-color:#C6B3E3;
                opacity: 0;
                visibility: hidden;
                width:calc(100%/5);}
[id^='sub_menu'] > li {padding: 16px 28px;
                        border-bottom: 2px solid #807287;}
[id^='sub_menu'] > li > a {color:#38313B;
                            text-decoration: none;
                            font-size: 20px; }
[id^='sub_menu'] > li:hover {color:#f5ebd7;
                            background-color:#74677A;}



#aside {
    position: fixed;
    list-style: none;
    margin-top: 200px;
    margin-left: 30px;
    background-color:#FAF6DE;
    border: 10px solid #B09CBA;
}
#aside > h2 { font-size: 30px;
            margin-left: 20px;}
#aside > ol {list-style:none;
            padding:0;
            margin-top: 20px;
            margin-bottom:20px;}
#aside > ol > li,h2 {clear:both;
                    float: left;
                    margin-top: 15px;
                    margin-bottom:10px;
                    margin-left: 30px;
                    margin-right: 15px;
                    text-align: center;
                    font-size: 20px;}

.article {  margin-top: 150px;
            background-image: url(image/article_bg.png);
            background-size: 100%;
            font-family: sans-serif;
            width:calc(100%-100px);
            margin-left: 50px;
            margin-right: 50px;}
.article > h2 {font-size:50px; 
                font-weight:bold;
                margin-top:50px; 
                margin-bottom: 70px;
                margin-right:0px;
                margin-left:0px;
                width:100%;
                background-color: thistle;}

.article > h4 {font-size:20px;
                padding-left: 50px;
                margin-right: 100px;
                text-align: left;}

.article > p {font-size:15px;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom :70px;
                text-align: left;}

.article > img {
    max-width: 800px;
    border: 2px solid LightSteelBlue;}
